<h2>View RestaurantBrand</h2>

<div ng-init="getOne()">

<form class="form-horizontal">
	<div class="form-group">
	    <label class="col-sm-2 control-label">Name</label>
	    <div class="col-sm-4">
			<input type="text" class="form-control" ng-model="restaurantBrand.name" disabled>
		</div>	
	</div>
		</div>	
	</div>
		</div>	
	</div>
</form>

<div class="row">
	<h3>Restaurants</h3>
	<div class="col-md-4">
		<ul ng-repeat="restaurant in restaurantList" class="list-group">
			<li class="list-group-item"><a href="/#/restaurantList/{{ restaurant.id }}">{{restaurant.name}}</a></li>
		</ul>
	</div>
</div>


</div>

<div class = "row">	
	<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>	
</div>	